{% extends 'base.html' %}

{% block content %}
                    <p class="lead">Hello,</p><p class="lead" id="name"></p>
{% endblock %}

{% block script %}

{% autoescape false %}
<script>
    async function getData() {
        
        const url = '/echo?string={{name}}';
        
        try {
          const response = await fetch(url);
          if (!response.ok) {
            throw new Error(`Response status: ${response.status}`);
          }
      
          const json = await response.json();
          console.log(json);
          document.getElementById("name").innerHTML = json.echo;
        } catch (error) {
          console.error(error.message);
        }
      }

    getData();
</script>
{% endautoescape %}

{% endblock %}