{% extends "./base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block content %}
<div class="container-lg pt-5">
    <div class="row justify-content-center">
        <div class="col-6">
            <h2>Make an attempt</h2>
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                Remember that you can make an attempt every {{ wait_time }} minutes.
            </div>
            <form action="{% url 'home' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    {% bootstrap_form form %}
                </div>
                <button class="btn btn-primary text-white" id="submitbutton" type="submitt">Make Attempt</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}